body{
  background:rgba(10,40,38,0.561453);
}

.contact {
  text-align: left;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
  color:#c5ecfd;
  width: 500px;
  display:flex;
}
.contact1{
  width:490px;
}
.add2{
  float:right;
  color:#c5ecfd;
  font-size: 30px;
}
